@import 'tailwindcss';

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-bric: "Bricolage Grotesque", sans-serif;

  /* neutral */
  --color-neutral-900: hsl(243, 96%, 9%);
  /* search location bg */
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-hover: hsl(243, 23%, 38%);

  /* orange */
  --color-orange-500: hsl(28, 100%, 52%);

  /* blue */
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
  --color-blue-dark: hsl(241, 95%, 9%);
}

body {
  @apply font-dm bg-blue-dark text-neutral-0 text-lg;
}